---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
---

<Layout>
  <section class="legal">
    <div class="container">

      <h1>Impressum</h1>

      <h2>Angaben gemäß § 5 TMG</h2>

      <p>
        CSD Kulmbach Organisationsteam<br />
        Kulmbach, Deutschland
      </p>

      <h2>Vertreten durch</h2>
      <p>
        Eva Drechsler
      </p>

      <h2>Kontakt</h2>
      <p>
        E-Mail: csd.kulmbach@web.de
      </p>

      <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
      <p>
        TransitionHaus<br />
        Queer Bayreuth e.V.<br />
        Schulstraße 7<br />
        95444 Bayreuth<br />
      </p>

      <h2>Haftung für Inhalte</h2>
      <p>
        Die Inhalte dieser Website wurden mit größter Sorgfalt erstellt.
        Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte übernehmen wir jedoch keine Gewähr.
      </p>

      <h2>Haftung für Links</h2>
      <p>
        Diese Website enthält Links zu externen Websites Dritter.
        Auf deren Inhalte haben wir keinen Einfluss.
      </p>

    </div>
  </section>
</Layout>