---
import "../styles/footer.css";
---

<footer class="footer">
  <div class="container footer-inner">

    <div class="footer-left">
      <h3>CSD Kulmbach</h3>
      <p>Gemeinsam für Vielfalt, Sichtbarkeit und Respekt.</p>
    </div>

    <div class="footer-right">
      <a href="/impressum">Impressum</a>
      <a href="/datenschutz">Datenschutz</a>
      <a href="https://www.instagram.com/csd_kulmbach/" target="_blank" class="social-link" aria-label="Instagram">

  <svg

    xmlns="http://www.w3.org/2000/svg"

    viewBox="0 0 24 24"

    width="20"

    height="20"

    fill="currentColor"

  >

    <path d="M7.75 2C4.57 2 2 4.57 2 7.75v8.5C2 19.43 4.57 22 7.75 22h8.5C19.43 22 22 19.43 22 16.25v-8.5C22 4.57 19.43 2 16.25 2h-8.5zm0 2h8.5C18.33 4 20 5.67 20 7.75v8.5C20 18.33 18.33 20 16.25 20h-8.5C5.67 20 4 18.33 4 16.25v-8.5C4 5.67 5.67 4 7.75 4zM12 7a5 5 0 100 10 5 5 0 000-10zm0 2a3 3 0 110 6 3 3 0 010-6zm5.75-.9a1.15 1.15 0 11-2.3 0 1.15 1.15 0 012.3 0z"/>

  </svg>

</a>
    </div>

  </div>

  <div class="footer-bar"></div>
</footer>