<!-- NAVIGATION BALKEN -->
<nav class="nav-bar">

  <ul class="nav-links">
    <li><a href="#about">Über uns</a></li>
    <li><a href="#programm">Programm</a></li>
    <li><a href="#mitmachen">Mitmachen</a></li>
    <li><a href="#sponsors">Sponsoren</a></li>
    <li><a href="#faq">FAQ</a></li>
    <li><a href="mailto:csd.kulmbach@web.de?subject=CSD%20Kulmbach%202026">Kontakt</a></li>
  </ul>

</nav>