---
import "../styles/route.css";
---

<section class="route">
  <div class="container">

    <h2>Unsere Route durch Kulmbach</h2>

    <p class="route-intro">
      Die Demonstration startet am Bahnhof und führt durch die Innenstadt bis zum Marktplatz.
    </p>

    <div class="route-list">

      <div class="route-item red">
        <span>Start: Bahnhof Kulmbach</span>
      </div>

      <div class="route-item orange">
        <span>Fritz-Hornschuch-Straße</span>
      </div>

      <div class="route-item yellow">
        <span>Kressenstein</span>
      </div>

      <div class="route-item green">
        <span>Langgasse</span>
      </div>

      <div class="route-item blue">
        <span>Oberhacken / Obere Stadt</span>
      </div>

      <div class="route-item violet">
        <span>Ziel: Marktplatz Kulmbach</span>
      </div>

    </div>

  </div>
</section>