---
import "../styles/sponsors.css";
---

<section class="sponsors" id="sponsors">
  <div class="container">

    <h2>Sponsoren und Partner</h2>

    <p class="sponsors-intro">
      Der CSD Kulmbach wird durch Unternehmen, Initiativen und Unterstützer möglich gemacht. Getränke während unserer Demo durch Kulmbach mit freundlicher Unterstützung von Bad Brambacher.
    </p>

    <div class="logo-track">

      <img class="logo" src="/cantineruin.webp" alt="Cantine Ruin Logo"
      loading="lazy"

  decoding="async" />

      <!-- später einfach erweitern -->
      <!--
      <img class="logo" src="/logo2.png" />
      <img class="logo" src="/logo3.png" />
      -->

    </div>

  </div>
</section>