---
import "../styles/sponsors.css";
---

<section class="sponsors">
  <div class="container">

    <h2>Sponsoren und Partner</h2>

    <p class="sponsors-intro">
      Der CSD Kulmbach wird durch Unternehmen, Initiativen und Unterstützer möglich gemacht.
    </p>

    <div class="logo-track">

      <img class="logo" src="/logo.png" alt="Sponsor Logo" />

      <!-- später einfach erweitern -->
      <!--
      <img class="logo" src="/logo2.png" />
      <img class="logo" src="/logo3.png" />
      -->

    </div>

  </div>
</section>