<div class="top-bar">
  <div class="container top-bar-inner">

    <div class="brand">CSD 2026 Kulmbach</div>

    <div class="donate-wrapper">
      <span class="donate-text">
        Hilf uns, den CSD Kulmbach möglich zu machen.
      </span>

      <a class="donate-btn" href="#spenden">
        ❤️ Spendenkonto ansehen →
      </a>
    </div>

  </div>
</div>